<ng-container [ngSwitch]="status.state">
  <ng-container *ngSwitchCase="DeviceState.fertigate">
    <ng-container [ngSwitch]="status.cmdState">
      <ng-container *ngSwitchCase="FertigateState.pumpIn">
        <ng-container *ngTemplateOutlet="pumpIn"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.mixDose">
        <mat-icon svgIcon="water-pump"></mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.dose">
        dose
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.mix">
        <mat-icon svgIcon="water-pump"></mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.irrigate">
        <ng-container *ngTemplateOutlet="pumpOut"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.irrigateFinish">
        <ng-container *ngTemplateOutlet="pumpOut"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.washPumpIn">
        <ng-container *ngTemplateOutlet="pumpIn"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.washMix">
        <mat-icon svgIcon="water-pump"></mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="FertigateState.wash">
        <mat-icon svgIcon="water-pump"></mat-icon>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.irrigate">
    irrigate
    <ng-container *ngTemplateOutlet="pumpOut"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.wash">
    wash
    <ng-container *ngTemplateOutlet="pumpOut"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.pumpIn">
    <ng-container *ngTemplateOutlet="pumpIn"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.compote">
    compote
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.washCompote">
    washCompote
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.mixer">
    mixer
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.dose">
    dose
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.doseMixer">
    doseMixer
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.idle">
    idle
  </ng-container>
  <ng-container *ngSwitchCase="DeviceState.error">
    Error
    <button type="button" mat-button (click)="onReset()">Reset</button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    Unknown
  </ng-container>
</ng-container>
<ng-template #pumpIn>
  <div class="row">
    <div class="col-12">
      <mat-icon svgIcon="water-pump"></mat-icon> Pump in
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-right">
      Flow
    </div>
    <div class="col-6 text-left">
      {{status.flow | number: '1.0-0'}} mL/minute
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-right">
      Total volume
    </div>
    <div class="col-6 text-left">
      {{status.totalVolume | number: '1.0-0'}} mL
    </div>
  </div>
</ng-template>
<ng-template #pumpOut>
  <div class="row">
    <div class="col-12">
      <mat-icon svgIcon="fountain"></mat-icon> Pump out
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-right">
      Flow
    </div>
    <div class="col-6 text-left">
      {{status.flow | number: '1.0-0'}} mL/minute
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-right">
      Total volume
    </div>
    <div class="col-6 text-left">
      {{status.totalVolume | number: '1.0-0'}} mL
    </div>
  </div>
</ng-template>
