<mat-accordion>
  <mat-expansion-panel *ngFor="let timer of timers$ | async; let index = index; trackBy: trackByIndex">
    <mat-expansion-panel-header>
      <mat-panel-title>
        #{{index + 1}}
      </mat-panel-title>
      <mat-panel-description>
        {{(names$ | async)[index]}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-timer
        [timer]="timer"
        [name]="(names$ | async)[index]"
        [programs]="programs$ | async"
        (timerChange)="onChange(index, $event)"
        (nameChange)="onNameChange(index, $event)"
      ></app-timer>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
