<mat-accordion>
  <mat-expansion-panel *ngFor="let levelSensor of levelSensors$ | async; let index = index; trackBy: trackByIndex">
    <mat-expansion-panel-header>
      <mat-panel-title>
        #{{index + 1}}
      </mat-panel-title>
      <mat-panel-description>
        {{(names$ | async)[index]}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-levelSensor
        [levelSensor]="levelSensor"
        [name]="(names$ | async)[index]"
        [programs]="programs$ | async"
        (levelSensorChange)="onChange(index, $event)"
        (nameChange)="onNameChange(index, $event)"
      ></app-levelSensor>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
