<mat-form-field>
  <mat-select
    (selectionChange)="onChange({hour: $event.value})"
    [value]="time.hour"
    placeholder="Hour"
  >
    <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select
    (selectionChange)="onChange({minute: $event.value})"
    [value]="time.minute"
    placeholder="Minute"
  >
    <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
  </mat-select>
</mat-form-field>
