<mat-accordion>
  <mat-expansion-panel *ngFor="let compote of compotes$ | async; let index = index; trackBy: trackByIndex">
    <mat-expansion-panel-header>
      <mat-panel-title>
        #{{index + 1}}
      </mat-panel-title>
      <mat-panel-description>
        {{(names$ | async)[index]}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-compote
        [compote]="compote"
        [name]="(names$ | async)[index]"
        [soils]="soils$ | async"
        (compoteDailyChange)="onDailyChange(index, $event)"
        (nameChange)="onNameChange(index, $event)"
        (add)="onAddDaily(index)"
      ></app-compote>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
