<mat-action-list>
  <mat-list-item (click)="onFertigate()">
    <mat-icon svgIcon="fountain"></mat-icon>
    &nbsp;
    Fertigate
  </mat-list-item>
  <mat-list-item (click)="onPumpIn()">
    <mat-icon svgIcon="water-pump"></mat-icon>
    &nbsp;
    Pump In
  </mat-list-item>
  <mat-list-item (click)="onDose()">
    <mat-icon svgIcon="eyedropper"></mat-icon>
    &nbsp;
    Dose
  </mat-list-item>
  <mat-list-item (click)="onDoseMix()">
    <mat-icon svgIcon="pinwheel"></mat-icon>
    &nbsp;
    Dose mix
  </mat-list-item>
  <mat-list-item (click)="onMix()">
    <mat-icon svgIcon="pinwheel"></mat-icon>
    &nbsp;
    Mix
  </mat-list-item>
  <mat-list-item (click)="onIrrigate()">
    <mat-icon svgIcon="fountain"></mat-icon>
    &nbsp;
    Irrigate
  </mat-list-item>
  <mat-list-item (click)="onWash()">
    <mat-icon svgIcon="fountain"></mat-icon>
    &nbsp;
    Wash
  </mat-list-item>
</mat-action-list>
