<button mat-button (click)="discover()">Discover</button>
<button mat-button (click)="requestStatus()">Status</button>
<button mat-button (click)="compote()">Compote</button>
<button mat-button (click)="mixer()">Mixer</button>
<button mat-button (click)="getProgram()">getProgram</button>
<button mat-button (click)="setProgram()">setProgram</button>
<button mat-button (click)="getCompote()">getCompote</button>
<button mat-button (click)="setCompote()">setCompote</button>
<button mat-button (click)="getTimer()">getTimer</button>
<button mat-button (click)="setTimer()">setTimer</button>
<button mat-button (click)="getSchedule()">getSchedule</button>
<button mat-button (click)="setSchedule()">setSchedule</button>
<button mat-button (click)="simulate()">simulate</button>
<button mat-button (click)="serialDiscover()">serial discover</button>
<button mat-button (click)="serialConnect()">serial connect</button>
<button mat-button (click)="syncSettings()">sync</button>
<button mat-button (click)="resetError()">Reset error</button>
<app-dev-access-control></app-dev-access-control>
